<div class="container">
  <div class="user-details">
    <h3> Career </h3>
  </div>

  <!-- 5rd -->
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="miscellaneous" src="{{ " /assets/img/asia-hackathon.jpg " | prepend: site.baseurl }}" />
      <img alt="miscellaneous" src="{{ " /assets/img/beijing.PNG " | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Business Background </h5>
      <ul>
        <li> AWS (S3, CloudFront, Route53), Google Cloud Platform, Databases, Data Science </li>
        <li> NodeJS, React, AngularJS, Java, PHP, Pyramid Framework </li>
      </ul>
      <p>
        <li>2018 Asia Open Data Hackathon 2nd place (Best Hackers)</li>
        <li>Information Processing Engineering certificate</li>
        <li>Google I/O 2016 attendee</li>
        <li>The 33rd International Geographical Congress in Beijing presenter</li>
        <li>Developer / GIS software instructor of National Disaster Management Institute project (Earthquake and Tsunami)</li>
        <li>QA and Technical Support Engineer of the GeoPros (Geographic Profiling System) of Korean National Police Agency</li>
        <li>Technical Support Engineer of Korea Forest Service</li>
      </p>
      <a class="project-link" target="_blank" href="https://www.linkedin.com/in/chihoyoon/">Check it out</a>
    </div>
  </div>

</div>