<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>

  <!-- 1st -->
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/assettracking.PNG" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Google Maps Asset Tracking Demo </h5>
      <li> JavaScript, Google Maps API </li>
      <p>A map shows 100 markers on the map for asset tracking.</p>
      <a class="project-link" href="http://61.32.6.18/cj_sample/">Check it out</a>
    </div>
  </div>

  <!-- 2nd -->
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/mapsincar.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Google Maps in Car </h5>
      <ul>
        <li> JavaScript, Google Maps API </li>
      </ul>
      <p>A Google Maps API nivigation demo originally made for a project with Google Korea </p>
      <a class="project-link" href="http://mapsincar.sphinfo.co.kr/">Check it out</a>
    </div>
  </div>

  <!-- 3rd -->
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/supermapdemo.PNG" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> SuperMap Demo </h5>
      <li> JavaScript, SuperMap iClient for JavaScript API </li>
      <p>A map with multiple GIS functions including spatial analysis</p>
      <a class="project-link" href="http://61.32.6.18/supermap/">Check it out</a>
    </div>
  </div>

  <!-- 4th -->
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/cartovotedemo.Png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Interactive Election Map of South Korea </h5>
      <ul>
        <li> Carto Builder, PostgreSQL, PostGIS, HTML5, CSS3 </li>
      </ul>
      <p>An interactive election map of South Korea </p>
      <a class="project-link" href="#https://fsociety161209.carto.com/builder/4139b42a-bc66-11e6-a3cc-0ecd1babdde5/embed?state=%7B%22map%22%3A%7B%22ne%22%3A%5B22.06527806776582%2C104.67773437499999%5D%2C%22sw%22%3A%5B47.12995075666307%2C152.490234375%5D%7D%7D">Check it out</a>
    </div>
  </div>

</div>
