<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="marketplace" src="{{ " /assets/img/mkp.png " | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> TravelFlan Marketplace </h5>
      <ul>
        <li> Vue.js, Vuex, Vue Router, SCSS </li>
        <li> Axios, Lodash, Moment, Flatpickr </li>
        <li> Facebook SDK, StripeJS, MapboxJS </li>
      </ul>
      <p>An e-commerce website selling various tour products, such as tour packages and portable wifi routers.</p>
      <a class="project-link" target="_blank" href="https://marketplace.travelflan.com/">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="agent-platform" src="{{ " /assets/img/agent-platform.png " | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Agent Platform </h5>
      <ul>
        <li> Vue.js, Vuex, SCSS, HTML5 WebSocket </li>
        <li> Axios, Lodash, Moment, Flatpickr </li>
        <li> Google Maps API </li>
      </ul>
      <p>An admin portal for management of chatbot users from various platform such as Facebook, Wechat and AI chat widget</p>
      <a class="project-link" target="_blank" href="https://agent.travelflan.com/">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="webview" src="{{ " /assets/img/webview.png " | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Webview </h5>
      <ul>
        <li> Vue.js, Vuex, Vue Router, SCSS </li>
        <li> Axios, Lodash, Moment </li>
        <li> Facebook SDK, Google Maps API </li>
      </ul>
      <p>A webview for chatbot users to collect their needs for itinerary, restaurants and etc.</p>
      <a class="project-link" target="_blank" href="https://www.facebook.com/TravelFlanTEST/">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="booking-manager" src="{{ " /assets/img/booking-manager.png " | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Booking Manager </h5>
      <ul>
        <li> Vue.js, Vuex, Vue Router, SCSS </li>
        <li> Axios, Lodash, Moment, Flatpickr </li>
      </ul>
      <p>An admin portal for management of bookings and orders by the e-commerce website users</p>
      <a class="project-link" target="_blank" href="https://manager.travelflan.com/">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="travelflan" src="{{ " /assets/img/travelflan.png " | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> TravelFlan main website </h5>
      <ul>
        <li> React, Redux, React Router, TypeScript </li>
      </ul>
      <p>The representitive website for introduction of TravelFlan (Partial page implementations and maintenance) </p>
      <a class="project-link" target="_blank" href="https://www.travelflan.com/">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="travel-with-kids" src="{{ " /assets/img/travel-with-kids.png " | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Travel With Kids </h5>
      <ul>
        <li> Vue.js, Vuex, Vue Router, SCSS </li>
        <li> Axios, Lodash </li>
        <li> Firebase, Here API, Google Maps API </li>
      </ul>
      <p>2018 Asia Open Data Hackathon 2nd place awarded app. It provides searching for nearby lavatories and hospitals, routes
        from user's location</p>
      <a class="project-link" target="_blank" href="https://travel-with-kids.firebaseapp.com/">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="maps in car" src="{{ " /assets/img/mapsincar.png " | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Google Maps in Car </h5>
      <ul>
        <li> JavaScript, Google Maps API </li>
      </ul>
      <p>A Google Maps API navigation demo originally made for a project with Google Korea. TTS(Text to speech), STT(Speech
        to text) are supported. Navigation function, get current position button, autocomplete, finding nearby gas stations
        are included </p>
      <a class="project-link" target="_blank" href="http://mapsincar.sphinfo.co.kr/">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="asset tracking" src="{{ " /assets/img/assettracking.PNG " | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Google Maps Asset Tracking Demo </h5>
      <ul>
        <li> JavaScript, Google Maps API </li>
      </ul>
      <p>A map showing 100 markers on the map for asset tracking.</p>
      <a class="project-link" target="_blank" href="http://104.199.133.107/samples/CJ_Sample-master/index.html">Check it out</a>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="project wigo" src="{{ " /assets/img/wigo.PNG " | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Project WIGO </h5>
      <ul>
        <li> Spring Framework, NodeJS, R, Bootstrap </li>
      </ul>
      <p>A website for social discussion with numerous APIs and libraries. R used for visualization and NodeJS used for async
        chat. Not officially distributed. </p>
      <a class="project-link" target="_blank" href="https://youtu.be/DXd70fN3qtU">Check it out</a>
    </div>
  </div>

</div>