<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>

  <!-- 0th -->
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="asset tracking" src="{{ "/assets/img/3d.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> WebGL 3D Map </h5>
      <ul>
        <li> JavaScript, CesiumJS, WebGL, JSP </li>
      </ul>
      <p>A 3D map showing OSGB tiles and offering analysis features. Optimized in Chrome, Safari and Firefox. Flood, Viewshed, Skyline and Profile functions are supported. (PW: sphOsgb1@)</p>
      <a class="project-link" target="_blank" href="http://demo.sphinfo.co.kr:8091/examples/sample.jsp">Check it out</a>
    </div>
  </div>

  <!-- 1st -->
  <div class="row user-projects">
    <div class="six columns">
      <img alt="maps in car" src="{{ "/assets/img/mapsincar.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Google Maps in Car </h5>
      <ul>
        <li> JavaScript, Google Maps API </li>
      </ul>
      <p>A Google Maps API navigation demo originally made for a project with Google Korea. TTS(Text to speech), STT(Speech to text) are supported. Navigation function, get current position button, autocomplete, finding nearby gas stations are included </p>
      <a class="project-link" target="_blank" href="http://mapsincar.sphinfo.co.kr/">Check it out</a>
    </div>
  </div>

  <!-- 2nd -->
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="asset tracking" src="{{ "/assets/img/assettracking.PNG" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Google Maps Asset Tracking Demo </h5>
      <ul>
        <li> JavaScript, Google Maps API </li>
      </ul>
      <p>A map showing 100 markers on the map for asset tracking.</p>
      <a class="project-link" target="_blank" href="http://104.199.133.107/samples/CJ_Sample-master/index.html">Check it out</a>
    </div>
  </div>

  <!-- 3rd -->
  <div class="row user-projects">
    <div class="six columns">
      <img alt="supermap demo" src="{{ "/assets/img/supermapdemo.PNG" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> SuperMap Demo </h5>
      <ul>
        <li> JavaScript, SuperMap iClient for JavaScript API </li>
      </ul>
      <p>A map with multiple GIS functions including spatial analysis. Async tasks between the client and the server is included. </p>
      <a class="project-link" target="_blank" href="http://supermap.sphinfo.co.kr/">Check it out</a>
    </div>
  </div>

  <!-- 4th -->
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="carto vote demo" src="{{ "/assets/img/cartovotedemo.PNG" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Interactive Election Map of South Korea </h5>
      <ul>
        <li> Carto Builder, PostgreSQL, PostGIS, HTML5, CSS3 </li>
      </ul>
      <p>An interactive election map of South Korea made with Carto Builder. Data was processed with PostgreSQL, PostGIS and GIS tools. </p>
      <a class="project-link" target="_blank" href="https://fsociety161209.carto.com/builder/4139b42a-bc66-11e6-a3cc-0ecd1babdde5/embed?state=%7B%22map%22%3A%7B%22ne%22%3A%5B22.06527806776582%2C104.67773437499999%5D%2C%22sw%22%3A%5B47.12995075666307%2C152.490234375%5D%7D%7D">Check it out</a>
    </div>
  </div>

  <!-- 5th -->
  <div class="row user-projects">
    <div class="six columns">
      <img alt="project wigo" src="{{ "/assets/img/wigo.PNG" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Project WIGO </h5>
      <ul>
        <li> Spring Framework, NodeJS, R, Bootstrap </li>
      </ul>
      <p>A website for social discussion with numerous APIs and libraries. R used for visualization and NodeJS used for async chat. Not officially distributed. </p>
      <a class="project-link" target="_blank" href="https://youtu.be/DXd70fN3qtU">Check it out</a>
    </div>
  </div>

</div>
